In [13]:
## common error
#result="hello"+5  this error
result="Hello"
print(result)

Hello

In [14]:
##floor division 
a=10
b=5
floor_div_result=a//b
print(floor_div_result)
exponent_result=a**b   #a^b is equal
print(exponent_result)

2
100000

###LogicalOperator

In [16]:
## not or and
X=True
not X

False

Nested Lopp

In [18]:
## practice example
year=int(input("Enter the year"))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print(f" {year} is leap year")
        else:
            print(f" {year} is not leap year")
    else:
        print(f" {year} is a leap year")
else:
    print(f" {year} is not leap year")

 2024 is a leap year

Calculator

In [4]:
num1=float(input("Enter the  firstn umber"))
num2=float(input("Enter the second number"))
operator=input("+,-,*,%,/")

if operator=='+':
    result=num1+num2
elif operator=='-':
    result==num1-num2
elif operator=='*':
    result=num1*num2
elif operator=='/':
    if num2!=0:
        result=num1/num2
    else:
        result="Error ! Division by zero"
elif operator=='%' :
    if num1%num2==0:
        result="num2 is factor of num1"
    else:
        result="num2 is not factor of num1"                           
else:
    result="Invalid operation"   
    
print(result)

109125000.0

Loop

In [22]:
range(5)

range(0, 5)

In [24]:
for i in range(5):
    print(i)

0
1
2
3
4

In [28]:
for i in range(1,10,1):  # third number is step parameter
    print(i)

1
2
3
4
5
6
7
8
9

In [29]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
## String 
str="Avnish Verma"
for i in str:
    print(i)

A
v
n
i
s
h

V
e
r
m
a

Pass satement

In [1]:
## pass
# The pass statement is a null operation ; it does nothing
for i in range(5):
    if i==3:
        pass              
    print(i)

0
1
2
3
4

List

In [3]:
list=["Apple","banana","cherry","gauva"]
print(list[0])
print(list[2])

Apple
cherry

In [18]:
list.append("mango")
print(list)

['Apple', 'amrood', 'amrood', 'banana', 'cherry', 'mango', 'mango', 'mango', 'mango', 'mango']

In [7]:
list.insert(1,"amrood")
print(list)

['Apple', 'amrood', 'amrood', 'banana', 'cherry', 'gauva', 'mango', 'mango']

In [14]:
list.remove("mango")
print(list)

['Apple', 'amrood', 'amrood', 'banana', 'cherry', 'mango']

pop

In [20]:
## Remove and return the last element 
l= list.pop()
print(l)
print(list)

mango
['Apple', 'amrood', 'amrood', 'banana', 'cherry', 'mango', 'mango', 'mango']

In [22]:
list.reverse()
print(list)

['Apple', 'amrood', 'amrood', 'banana', 'cherry', 'mango', 'mango', 'mango']

Slicing

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])  ## use  reverse the numbers

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for i in numbers:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
## Iterate the list
list=[1,2,3,4,5,6,7,8,9,10]
for index,i in enumerate(list):
    print(index,i)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

Comprehension

In [13]:
## List Comprehen
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
# List Comprehen on if condition
even_number= [num for num in range(10) if num%2==0]
print(even_number)

[0, 2, 4, 6, 8]

In [ ]:
## List Comprehension with function calls
words=["Hello","world","python","list","comprehension"]
length=[len(word) for word in words] 

print(length)

[5, 5, 6, 4, 13]