The Map() Function in Python 

The map() function applies a given function to all items in an input list(or any other iterable) and returns a map object (an iteretor ) .The is particularly useful for transforming data in alist comprehensively

In [1]:
# map(function,list)  is return map object
def squre(x):
    return x**2
print(4)

4

In [4]:
numbers=[1,2,3,4,5,6]

list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

In [1]:
# Map mutiple iterables
numbers1=[1,2,3]
numbers2=[4,5,6]

added_number=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_number)

[5, 7, 9]

In [11]:
## Map() to convert alist ofstring to integers
# Use map to convert strings tointeger

str_numbers=['1','2','3','4','5']

int_numbers=list(map(int ,str_numbers))

print(int_numbers)

[1, 2, 3, 4, 5]

In [15]:
words=["apple","banana",'cheery']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHEERY']

In [20]:
def get_name(person):
    return person['name']


people=[
    {'name':'Avnish','age':22},
    {'name':'ayush','age':20}
]
list(map(get_name,people))

['Avnish', 'ayush']