In [1]:
import numpy as np
import pandas as pd

In [6]:
dict1={
    "Name":['Avnish','Ayush','Rohit','Yastharth'],
    "Age":[20,19,21,23],
    "City":['Kanpur','roorke','Ballia','pratapgad']
}

In [7]:
df=pd.DataFrame(dict1)

In [8]:
df

        Name  Age       City
0     Avnish   20     Kanpur
1      Ayush   19     roorke
2      Rohit   21     Ballia
3  Yastharth   23  pratapgad

In [10]:
df.to_csvv('friends.csv')

AttributeError: 'DataFrame' object has no attribute 'to_csvv'