In [2]:
import sqlite3

SQL AND SQLite

SQLite is a  Database  .create a database and table

SQLite is a self-contained, file-based SQL database. SQLite comes bundled with Python and can be used in any of your Python applications without having to install any additional software.

In this tutorial, we’ll go through the sqlite3 module in Python 3. We’ll create a connection to a SQLite database, add a table to that database, insert data into that table, and read and modify data in that table.

In [ ]:
## Connect to an SQLite Database

connection=sqlite3.connect('example.db')   ## db-database and sqlite3.connect('my_database.db')
connection    #sqlite3.connect() function returns a Connection 
print("Open sucessfully")

Open sucessfully

In [ ]:
# connection.cursor([cursorClass])

cursor=connection.cursor()

In [22]:
## Following Python program will be used to create a table in the previously created database.
## Create a table

# cursor.execute(sql [, optional parameters])


## Commit the changes
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    name TEXT,
    age INTEGER,
    department TEXT
)
''')
connection.commit()

In [6]:
cursor.execute('''
Select * from employees
'''
    
)

In [27]:
## Insert the data in sqlite table


print("Opened database suceessfully")

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Avnish', 20, 'Data Scientist')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Bob', 25, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 25, 'Finance')
''')


## Commit the changes
connection.commit()

Opened database suceessfully

OperationalError: table employees has no column named department

In [ ]:
## Qurey the data from the table
# Reading Data from the SQLite Database

# Verify the data
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

AttributeError: 'sqlite3.Cursor' object has no attribute 'ferchall'

In [ ]:
## Update data in the table
cursor.execute('''
 UPDATE employees
 Set age=34
 where name="ram"              
               
               ''')
connection.commit()

In [ ]:
## Delete the data from the table

cursor.execute('''
               
              Delete from employees 
              where name='Bob'
               ''')

connection.commit()

In [6]:
## Working with Sales Data
## Connect to an SQLite database
import sqlite3
connection=sqlite3.connect('sales_data.db')
cursor=connection.cursor()

## Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)               
               
               ''')

## iNSERT data into sales table
sales_data=[
    ('2023-01-01','Product',100,'North'),
    ('2023-01-02','Product',200,'South'),
    ('2023-01-03','Product',150,'East'),
    ('2023-01-04','Product',250,'West'), 
    ('2023-01-05','Product',300,'North')
]
cursor.executemany('''
Insert into sales(date,product,sales,region)
                    values(?,?,?,?)                   
                   
                   ''', sales_data)

connection.commit()

## Qurey data from the sales table
cursor.execute('select * from sales')
rows=cursor.fetchall()

## Print the quried data
for row in row:
    print(row)

OperationalError: table sales has no column named region

In [ ]:
## close the connection
connection.close()